h1 {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: fixed;
  margin-top: 130px;
  margin-left: 40px;
}

h2 {
  color: rgba(0, 0, 0, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  margin-top: 195px;
  margin-left: 40px;
}

h3 {
  color: rgba(0, 0, 0, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  margin-top: 215px;
  margin-left: 40px;
}

h4 {
  color: rgba(0, 0, 0, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  margin-top: 235px;
  margin-left: 40px;
}

h5 {
  color: rgba(0, 0, 0, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  margin-top: 255px;
  margin-left: 40px;
}

a {
  color: var(--highlight, #f18ac2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.weather {
  width: 650px;
  height: 360px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.topline {
  width: 570px;
  height: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border: 1px rgba(0, 0, 0, 0.1) solid;
  margin-top: 110px;
  margin-left: 40px;
  position: fixed;
}

.temperature {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: fixed;
  margin-top: 125px;
  margin-left: 550px;
  margin-right: 40px;
}

.measurement {
  color: rgba(0, 0, 0, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 135px;
  margin-right: 135px;
  margin-left: 480px;
  position: fixed;
}

.bottomline {
  width: 570px;
  height: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border: 1px rgba(0, 0, 0, 0.1) solid;
  margin-top: 290px;
  margin-left: 40px;
  position: fixed;
}

.source {
  color: rgba(0, 0, 0, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  margin-top: 310px;
  margin-left: 220px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

#search-line {
  color: rgba(0, 0, 0, 0.25);
  padding: 12px 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  position: fixed;
  display: block;
  margin-left: 40px;
  margin-top: 40px;
  font-style: normal;
  border: 0;
  font-weight: 400;
  line-height: normal;
  background: rgba(0, 0, 0, 0.1);
  width: 310px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

textarea:focus,
#search-line:focus {
  outline: none;
  color: #000;
}

#search-button {
  display: inline-block;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  margin-top: 40px;
  margin-left: 360px;
  position: fixed;
  border-radius: 4px;
  background: #f18ac2;
  border: 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#search-button:hover {
  transition: all 0.4s ease-in-out;
  background: #cd76a6;
  cursor: pointer;
}

#current-button {
  display: inline-block;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  margin-top: 40px;
  margin-left: 488px;
  position: fixed;
  border-radius: 4px;
  background: #f18ac2;
  border: 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#current-button:hover {
  transition: all 0.4s ease-in-out;
  background: #cd76a6;
  cursor: pointer;
}

#icon {
  position: fixed;
  margin-top: 160px;
  margin-right: 40px;
  margin-left: 490px;
  height: 120px;
  width: 120px;
}
